$color-background: antiquewhite;

$border-container: solid 2px black;
$border-radius-container: 1rem;
$border-button: solid 1px black;

$padding-container: 1.5rem;

$selected-color: lightgray;

$mouseOver-color: gray;