@import './data/variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  padding: 0 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  background-color: $colourBlue;
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: antiquewhite;
  width: 100%;
  padding: 0.5rem 1rem;

  &_option {
    background-color: lightgray;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    transition: 1s;

    &:hover {
      background-color: grey;
      cursor: pointer;
      transform: scale(1.05);
    }

    & span:first-of-type {
      font-weight: 700;
    }
  }
}